---
import Layout from "../../layouts/default.astro";
---

<Layout>
	<article>
		<header>
			<h1>p5.js teaching</h1>

			<ul>
				<li>
					<a href="/p5/anatomy-of-a-sketch">Anatomy of a Sketch</a>
				</li>
				<li>
					<a href="/p5/the-coordinate-system">The Coordinate System</a>
				</li>
				<li>
					<a href="/p5/form">Form</a>
				</li>
				<li>
					<a href="/p5/color-systems-and-spaces">Color Systems and Spaces</a>
				</li>
			</ul>
		</header>
	</article>
</Layout>
