---
interface Props {
	isFlexDirectionRow?: boolean;
}
const { isFlexDirectionRow = true } = Astro.props;
---

<style>
	.flexbox-svg-container {
		width: 100%;
		max-width: 60ch;
	}
</style>

<div class="flexbox-svg-container">
	<svg
		viewBox="0 0 500 250"
		width="100%"
		height="100%"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<g id="flexbox-flexdirection-row" clip-path="url(#clip0_1_2)">
			<rect width="500" height="250" fill="white"></rect>
			<rect
				id="Rectangle 1"
				width="500"
				height="250"
				stroke="black"
				stroke-linecap="round"
				stroke-linejoin="round"
				stroke-dasharray="4 4"></rect>
			<path
				id="Arrow 1"
				d="M491 125L486 122.113V127.887L491 125ZM11 125.5H13V124.5H11V125.5ZM17 125.5H21V124.5H17V125.5ZM25 125.5H29V124.5H25V125.5ZM33 125.5H37V124.5H33V125.5ZM41 125.5H45V124.5H41V125.5ZM49 125.5H53V124.5H49V125.5ZM57 125.5H61V124.5H57V125.5ZM65 125.5H69V124.5H65V125.5ZM73 125.5H77V124.5H73V125.5ZM81 125.5H85V124.5H81V125.5ZM89 125.5H93V124.5H89V125.5ZM97 125.5H101V124.5H97V125.5ZM105 125.5H109V124.5H105V125.5ZM113 125.5H117V124.5H113V125.5ZM121 125.5H125V124.5H121V125.5ZM129 125.5H133V124.5H129V125.5ZM137 125.5H141V124.5H137V125.5ZM145 125.5H149V124.5H145V125.5ZM153 125.5H157V124.5H153V125.5ZM161 125.5H165V124.5H161V125.5ZM169 125.5H173V124.5H169V125.5ZM177 125.5H181V124.5H177V125.5ZM185 125.5H189V124.5H185V125.5ZM193 125.5H197V124.5H193V125.5ZM201 125.5H205V124.5H201V125.5ZM209 125.5H213V124.5H209V125.5ZM217 125.5H221V124.5H217V125.5ZM225 125.5H229V124.5H225V125.5ZM233 125.5H237V124.5H233V125.5ZM241 125.5H245V124.5H241V125.5ZM249 125.5H253V124.5H249V125.5ZM257 125.5H261V124.5H257V125.5ZM265 125.5H269V124.5H265V125.5ZM273 125.5H277V124.5H273V125.5ZM281 125.5H285V124.5H281V125.5ZM289 125.5H293V124.5H289V125.5ZM297 125.5H301V124.5H297V125.5ZM305 125.5H309V124.5H305V125.5ZM313 125.5H317V124.5H313V125.5ZM321 125.5H325V124.5H321V125.5ZM329 125.5H333V124.5H329V125.5ZM337 125.5H341V124.5H337V125.5ZM345 125.5H349V124.5H345V125.5ZM353 125.5H357V124.5H353V125.5ZM361 125.5H365V124.5H361V125.5ZM369 125.5H373V124.5H369V125.5ZM377 125.5H381V124.5H377V125.5ZM385 125.5H389V124.5H385V125.5ZM393 125.5H397V124.5H393V125.5ZM401 125.5H405V124.5H401V125.5ZM409 125.5H413V124.5H409V125.5ZM417 125.5H421V124.5H417V125.5ZM425 125.5H429V124.5H425V125.5ZM433 125.5H437V124.5H433V125.5ZM441 125.5H445V124.5H441V125.5ZM449 125.5H453V124.5H449V125.5ZM457 125.5H461V124.5H457V125.5ZM465 125.5H469V124.5H465V125.5ZM473 125.5H477V124.5H473V125.5ZM481 125.5H485V124.5H481V125.5ZM491 125L486 122.113V127.887L491 125ZM11 125.5H13V124.5H11V125.5ZM17 125.5H21V124.5H17V125.5ZM25 125.5H29V124.5H25V125.5ZM33 125.5H37V124.5H33V125.5ZM41 125.5H45V124.5H41V125.5ZM49 125.5H53V124.5H49V125.5ZM57 125.5H61V124.5H57V125.5ZM65 125.5H69V124.5H65V125.5ZM73 125.5H77V124.5H73V125.5ZM81 125.5H85V124.5H81V125.5ZM89 125.5H93V124.5H89V125.5ZM97 125.5H101V124.5H97V125.5ZM105 125.5H109V124.5H105V125.5ZM113 125.5H117V124.5H113V125.5ZM121 125.5H125V124.5H121V125.5ZM129 125.5H133V124.5H129V125.5ZM137 125.5H141V124.5H137V125.5ZM145 125.5H149V124.5H145V125.5ZM153 125.5H157V124.5H153V125.5ZM161 125.5H165V124.5H161V125.5ZM169 125.5H173V124.5H169V125.5ZM177 125.5H181V124.5H177V125.5ZM185 125.5H189V124.5H185V125.5ZM193 125.5H197V124.5H193V125.5ZM201 125.5H205V124.5H201V125.5ZM209 125.5H213V124.5H209V125.5ZM217 125.5H221V124.5H217V125.5ZM225 125.5H229V124.5H225V125.5ZM233 125.5H237V124.5H233V125.5ZM241 125.5H245V124.5H241V125.5ZM249 125.5H253V124.5H249V125.5ZM257 125.5H261V124.5H257V125.5ZM265 125.5H269V124.5H265V125.5ZM273 125.5H277V124.5H273V125.5ZM281 125.5H285V124.5H281V125.5ZM289 125.5H293V124.5H289V125.5ZM297 125.5H301V124.5H297V125.5ZM305 125.5H309V124.5H305V125.5ZM313 125.5H317V124.5H313V125.5ZM321 125.5H325V124.5H321V125.5ZM329 125.5H333V124.5H329V125.5ZM337 125.5H341V124.5H337V125.5ZM345 125.5H349V124.5H345V125.5ZM353 125.5H357V124.5H353V125.5ZM361 125.5H365V124.5H361V125.5ZM369 125.5H373V124.5H369V125.5ZM377 125.5H381V124.5H377V125.5ZM385 125.5H389V124.5H385V125.5ZM393 125.5H397V124.5H393V125.5ZM401 125.5H405V124.5H401V125.5ZM409 125.5H413V124.5H409V125.5ZM417 125.5H421V124.5H417V125.5ZM425 125.5H429V124.5H425V125.5ZM433 125.5H437V124.5H433V125.5ZM441 125.5H445V124.5H441V125.5ZM449 125.5H453V124.5H449V125.5ZM457 125.5H461V124.5H457V125.5ZM465 125.5H469V124.5H465V125.5ZM473 125.5H477V124.5H473V125.5ZM481 125.5H485V124.5H481V125.5Z"
				fill="black"></path>
			<path
				id="Arrow 2"
				d="M251 240L253.887 235L248.113 235L251 240ZM250.5 10L250.5 11.9828L251.5 11.9828L251.5 10L250.5 10ZM250.5 15.9483L250.5 19.9138L251.5 19.9138L251.5 15.9483L250.5 15.9483ZM250.5 23.8793L250.5 27.8448L251.5 27.8448L251.5 23.8793L250.5 23.8793ZM250.5 31.8103L250.5 35.7759L251.5 35.7759L251.5 31.8103L250.5 31.8103ZM250.5 39.7414L250.5 43.7069L251.5 43.7069L251.5 39.7414L250.5 39.7414ZM250.5 47.6724L250.5 51.6379L251.5 51.6379L251.5 47.6724L250.5 47.6724ZM250.5 55.6035L250.5 59.569L251.5 59.569L251.5 55.6035L250.5 55.6035ZM250.5 63.5345L250.5 67.5L251.5 67.5L251.5 63.5345L250.5 63.5345ZM250.5 71.4655L250.5 75.431L251.5 75.431L251.5 71.4655L250.5 71.4655ZM250.5 79.3966L250.5 83.3621L251.5 83.3621L251.5 79.3966L250.5 79.3966ZM250.5 87.3276L250.5 91.2931L251.5 91.2931L251.5 87.3276L250.5 87.3276ZM250.5 95.2586L250.5 99.2241L251.5 99.2241L251.5 95.2586L250.5 95.2586ZM250.5 103.19L250.5 107.155L251.5 107.155L251.5 103.19L250.5 103.19ZM250.5 111.121L250.5 115.086L251.5 115.086L251.5 111.121L250.5 111.121ZM250.5 119.052L250.5 123.017L251.5 123.017L251.5 119.052L250.5 119.052ZM250.5 126.983L250.5 130.948L251.5 130.948L251.5 126.983L250.5 126.983ZM250.5 134.914L250.5 138.879L251.5 138.879L251.5 134.914L250.5 134.914ZM250.5 142.845L250.5 146.81L251.5 146.81L251.5 142.845L250.5 142.845ZM250.5 150.776L250.5 154.741L251.5 154.741L251.5 150.776L250.5 150.776ZM250.5 158.707L250.5 162.672L251.5 162.672L251.5 158.707L250.5 158.707ZM250.5 166.638L250.5 170.603L251.5 170.603L251.5 166.638L250.5 166.638ZM250.5 174.569L250.5 178.534L251.5 178.534L251.5 174.569L250.5 174.569ZM250.5 182.5L250.5 186.465L251.5 186.465L251.5 182.5L250.5 182.5ZM250.5 190.431L250.5 194.396L251.5 194.396L251.5 190.431L250.5 190.431ZM250.5 198.362L250.5 202.328L251.5 202.328L251.5 198.362L250.5 198.362ZM250.5 206.293L250.5 210.259L251.5 210.259L251.5 206.293L250.5 206.293ZM250.5 214.224L250.5 218.19L251.5 218.19L251.5 214.224L250.5 214.224ZM250.5 222.155L250.5 226.121L251.5 226.121L251.5 222.155L250.5 222.155ZM250.5 230.086L250.5 234.052L251.5 234.052L251.5 230.086L250.5 230.086ZM251 240L253.887 235L248.113 235L251 240ZM250.5 10L250.5 11.9828L251.5 11.9828L251.5 10L250.5 10ZM250.5 15.9483L250.5 19.9138L251.5 19.9138L251.5 15.9483L250.5 15.9483ZM250.5 23.8793L250.5 27.8448L251.5 27.8448L251.5 23.8793L250.5 23.8793ZM250.5 31.8103L250.5 35.7759L251.5 35.7759L251.5 31.8103L250.5 31.8103ZM250.5 39.7414L250.5 43.7069L251.5 43.7069L251.5 39.7414L250.5 39.7414ZM250.5 47.6724L250.5 51.6379L251.5 51.6379L251.5 47.6724L250.5 47.6724ZM250.5 55.6035L250.5 59.569L251.5 59.569L251.5 55.6035L250.5 55.6035ZM250.5 63.5345L250.5 67.5L251.5 67.5L251.5 63.5345L250.5 63.5345ZM250.5 71.4655L250.5 75.431L251.5 75.431L251.5 71.4655L250.5 71.4655ZM250.5 79.3966L250.5 83.3621L251.5 83.3621L251.5 79.3966L250.5 79.3966ZM250.5 87.3276L250.5 91.2931L251.5 91.2931L251.5 87.3276L250.5 87.3276ZM250.5 95.2586L250.5 99.2241L251.5 99.2241L251.5 95.2586L250.5 95.2586ZM250.5 103.19L250.5 107.155L251.5 107.155L251.5 103.19L250.5 103.19ZM250.5 111.121L250.5 115.086L251.5 115.086L251.5 111.121L250.5 111.121ZM250.5 119.052L250.5 123.017L251.5 123.017L251.5 119.052L250.5 119.052ZM250.5 126.983L250.5 130.948L251.5 130.948L251.5 126.983L250.5 126.983ZM250.5 134.914L250.5 138.879L251.5 138.879L251.5 134.914L250.5 134.914ZM250.5 142.845L250.5 146.81L251.5 146.81L251.5 142.845L250.5 142.845ZM250.5 150.776L250.5 154.741L251.5 154.741L251.5 150.776L250.5 150.776ZM250.5 158.707L250.5 162.672L251.5 162.672L251.5 158.707L250.5 158.707ZM250.5 166.638L250.5 170.603L251.5 170.603L251.5 166.638L250.5 166.638ZM250.5 174.569L250.5 178.534L251.5 178.534L251.5 174.569L250.5 174.569ZM250.5 182.5L250.5 186.465L251.5 186.465L251.5 182.5L250.5 182.5ZM250.5 190.431L250.5 194.396L251.5 194.396L251.5 190.431L250.5 190.431ZM250.5 198.362L250.5 202.328L251.5 202.328L251.5 198.362L250.5 198.362ZM250.5 206.293L250.5 210.259L251.5 210.259L251.5 206.293L250.5 206.293ZM250.5 214.224L250.5 218.19L251.5 218.19L251.5 214.224L250.5 214.224ZM250.5 222.155L250.5 226.121L251.5 226.121L251.5 222.155L250.5 222.155ZM250.5 230.086L250.5 234.052L251.5 234.052L251.5 230.086L250.5 230.086Z"
				fill="black"></path>
			{
				isFlexDirectionRow ? (
					<rect
						x="0"
						y="100"
						width="66"
						height="12"
						fill="lightgoldenrodyellow"
						transform="rotate(3, 50, 107.5) skewX(3)"
					/>
				) : null
			}

			<text
				id="left-right axis"
				fill="black"
				xml:space="preserve"
				style="white-space: pre"
				font-family="inherit"
				font-size="10"
				letter-spacing="0em"
				><tspan x="10" y="109.636"
					>{isFlexDirectionRow ? 'Primary axis' : 'Cross axis'}</tspan
				></text
			>
			{
				isFlexDirectionRow === false ? (
					<rect
						x="261"
						y="11"
						width="66"
						height="12"
						fill="lightgoldenrodyellow"
						transform="rotate(-3, 261, 15.5) skewX(2)"
					/>
				) : null
			}

			<text
				id="top-bottom axis"
				fill="black"
				xml:space="preserve"
				style="white-space: pre"
				font-family="inherit"
				font-size="10"
				letter-spacing="0em"
				><tspan x="261" y="19.6364"
					>{isFlexDirectionRow ? 'Cross axis' : 'Primary axis'}</tspan
				></text
			>
		</g>
		<defs>
			<clipPath id="clip0_1_2">
				<rect width="500" height="250" fill="white"></rect>
			</clipPath>
		</defs>
	</svg>
</div>
