<article>
	<section>
		<h2>The Vibrancy of Deep Pink</h2>
		<figure>
			<img
				src="https://colornames.inpyjamas.dev/api/300/deeppink"
				alt="a deeppink square"
			/>
			<figcaption>
				Like neon dreams at midnight, deep pink electrifies the soul
			</figcaption>
		</figure>
	</section>
	<section>
		<h2>Nature's Bold Statement</h2>
		<figure>
			<img
				src="https://colornames.inpyjamas.dev/api/300/deeppink"
				alt="a deeppink square"
			/>
			<figcaption>
				Fuchsia blooms dance bright Summer wind carries pink dreams Nature's
				neon heart
			</figcaption>
		</figure>
	</section>
	<section>
		<h2>Digital Radiance</h2>
		<figure>
			<img
				src="https://colornames.inpyjamas.dev/api/300/deeppink"
				alt="a deeppink square"
			/>
			<figcaption>
				Where magenta meets passion, deep pink illuminates the digital canvas
			</figcaption>
		</figure>
	</section>
</article>

<style>
	h2 {
		font-size: 1.2rem;
		padding: 0;
		margin: 16px 0;
	}
	article {
		display: flex;
		/* max-width: 500px; */
		flex-wrap: wrap;
		margin: 0 auto;

		justify-content: center;
		gap: 16px;
	}

	section {
		flex-basis: 256px;
		display: flex;
		flex-direction: column;
	}
	figure {
		display: flex;
		flex-direction: column;
	}
	img {
		flex: 1;
		width: 100%;
	}
</style>
